# Dependency directories
node_modules/

# Build directories
dist/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Terraform outputs
infra/.terraform
infra/.terraform.lock.hcl

# Additional ignores
.idea
.DS_Store
